@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FADADD; /* 파스텔톤 핑크 */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b1a1a; /* 어두운 핑크 */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
